@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap"); */

@layer base {
  @font-face {
    font-family: Roboto;
    src: local("Roboto"), url("./fonts/Roboto-Regular.ttf"), format("ttf");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: Roboto;
    src: local("Roboto"), url("./fonts/Roboto-Italic.ttf"), format("ttf");
    font-weight: 400;
    font-style: italic;
  }

  @font-face {
    font-family: Roboto;
    src: local("Roboto"), url("./fonts/Roboto-Bold.ttf"), format("ttf");
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: Roboto;
    src: local("Roboto"), url("./fonts/Roboto-BoldItalic.ttf"), format("ttf");
    font-weight: 700;
    font-style: normal;
  }

  body {
    @apply text-white;
  }

  select, option {
    @apply text-black;
  }
}